{% extends 'base.html.twig' %}

{% block title %}О магазине{% endblock %}

{% block body %}
    <h1>О магазине</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto commodi cumque dolor eaque est harum optio quam quo ratione sunt, voluptates voluptatibus? Consequatur eos iusto nobis optio quidem, recusandae voluptates!A ad adipisci dicta, dolor eaque earum eveniet facere id illo illum natus nisi officiis pariatur quae saepe, soluta sunt ullam voluptate! Consectetur cumque ipsum magnam necessitatibus quos tenetur unde.A ad autem blanditiis cumque, debitis dolorem dolorum ipsam laboriosam molestiae nesciunt similique tenetur vel? Perspiciatis, qui, quibusdam. Ad animi consequuntur dicta dolor fuga, nulla praesentium quos similique ut vero.Deleniti earum id nostrum quibusdam tenetur. Beatae commodi earum eius ipsa laborum libero magni non nulla possimus praesentium quae quam qui repellat voluptate, voluptatem. Animi consequatur cum praesentium quas velit.At consectetur dignissimos ipsum iusto tempore, unde vero! Deserunt enim, facilis ipsam ipsum, laborum nemo nesciunt nisi porro quaerat quas qui quisquam sint, tempore temporibus vitae. Quae qui unde voluptatem?</p>
{% endblock %}
