{% extends 'base.html.twig' %}

{% block title %}Последние поступления{% endblock %}

{% block body %}
    <h1>Последние поступления</h1>

    <div class="row">
        {{ include('products/_productsList.html.twig', {'products': products}) }}
    </div>

    <h2>Категории:</h2>
    {{ tree|raw }}
{% endblock %}
