{% extends 'base.html.twig' %}

{% block title %}Корзина{% endblock %}

{% block body %}
    <h1>Корзина</h1>

    <div id="cartItems">
        {{ include('orders/cartItems.html.twig', {'cart': cart}) }}
    </div>
{% endblock %}

