{% extends 'base.html.twig' %}

{% block title %}Спасибо за заказ{% endblock %}

{% block body %}
    <h1>Спасибо за заказ. Мы обязательно с Вами свяжемся.</h1>

    <p><a href="{{ path('default') }}">Продолжить покупки</a></p>
{% endblock %}
